@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


$blue-color: #061e37;
$text-color: #ffffff;
$gray-color: #b0bec5;
$green-color: #1de9b6;
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 45px;
        color: $blue-color;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    &__logo {
        background-image: url(/img/svg/Logo.svg);
        background-repeat: no-repeat;
        width: 180px;
        height: 30px;
        margin-left: 78px;
        margin-top: 51px;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        margin-right: 60px;
        margin-top: 53px;
        &__item {
            margin-right: 45px;
            color: $text-color
            
        } 
        &__link.active {
            color: $blue-color;
        }
        &__link {
            text-decoration: none;
            color: $text-color;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 15px;
            &:hover {
                color: $blue-color;
                transition: 0.5s;
            }
        } 
    }
    &__modal {
        margin-right: -347px;
        margin-top: 50px;
        padding: 5px 19px;
        background: 0;
        outline: 0;
        border: 1px solid;
        border-color: white;
        color: white;
        text-transform: lowercase;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 400;
        &:hover {
            background-color: #ffffff;
            color: #000000;
        }
    }  
}
/* .footer {
    background-color: #061e37;
    width: 100%;
    height: 300px;
} */

.page {
    &-main {
        position: relative;
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
        }
        &__svg {
            background-image: url(/img/svg/BG.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 1600px;
            height: 750px;
            z-index: -4;
        }
    }
    &-green {
        position: relative;
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        &__svg {
            background-image: url(../img/svg/bg_2.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 1600px;
            height: 564px;
            z-index: -1;
        }
    }
    &-wheat {
        padding: 43px 0 152px;
        background-color: #fafafa;
    }
}



.block-video {
    display: flex;
    justify-content: space-between;
    margin-top: 159px;
    margin-bottom: 278px;
    &-text {
        flex-basis: 37%;
        margin-left: 75px;
        &__title {
            text-transform: uppercase;
            color: $text-color;
            font-size: 55px;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            letter-spacing: 0.7px;
        }
        &__desc {
            color: $text-color;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            line-height: 2;
            margin-top: 12px;
            margin-left: 1px;
        }
    }
    &-demo {
        width: 600px;
        height: 320px;
        position: relative;
        &__img {
            position: absolute;
            z-index: -3;
            right: 45px;
        }
        &__white {
            position: absolute;
            z-index: -2;
            opacity: 0.9;
            background-color: $text-color;
            width: 600px;
            height: 320px;
            right: 60px;
            top: 6px;
            border: 1px solid;
            border-radius: 5px;
        }
        &__btn {
            position: absolute;
            top: 117px;
            left: 200px;
            border: 0;
            outline: 0;
            background-color: transparent;
            &:hover {
                top: 107px;
                left: 190px;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        &__text {
            position: absolute;
            bottom: 92px;
            left: 186px;
            color: $blue-color;
            font-size: 12px;
            font-family: 'Raleway', serif;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__vid {
            position: absolute;
            right: 62px;
            top: 7px;
            border-radius: 5px;
            z-index: 5;
            width: 599px;
            height: 319px;        
            &-hide {
                display: none;
            }
        }

    }
}
.block-easy {
    &-text {
        margin-left: 527px;
        width: 34%;
        align-items: center;
        margin-bottom: 50px;
        &__title {
            width: 70%;
            text-align: center;
            margin-left: 81px;
            span {
                font-size: 25px;
                color: $gray-color;
            }
        }
        &__desc {
            text-align: center;
            color: $gray-color;
            font-size: 15px;
            font-family: 'Raleway', sans-serif;
            line-height: 1.6;
            margin-left: -7px;
            margin-top: 21px;
        }
    }
    &-icons {
        display: flex;
        justify-content: space-evenly;
        &-items {
            &__svg {
                margin-left: 218px;
                margin-top: 28px;
                margin-bottom: 37px;    
            }
            &__svg.second {
                margin-left: 253px;
                margin-top: 22px;
            }
            &__svg.third {
                margin-left: 267px;
            }
            &__title {
                font-size: 20px;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                text-align: center;
                margin-left: -12px;
                margin-top: 1px;            
            }
            &__title.second {
                margin-left: 37px;
                margin-top: -3px;
            }
            &__title.third {
                margin-left: 63px;
                margin-top: 2px;
            }
            &__desc {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                color: $gray-color;
                width: 67%;
                margin-left: 77px;
                margin-top: 12px;
                line-height: 1.4;
            }
            &__desc.second {
                margin-left: 105px;
                margin-bottom: 94px;
            }
            &__desc.third {
                margin-left: 115px;
            }
            &__btn {
                text-decoration: none;
                background-color: $green-color;
                color: $text-color;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 208px;
                padding: 18px 22px;
                border-radius: 5px;
            }
        }
    }
    &-colors {
        display: flex;
        justify-content: space-around;
        margin-top: 117px;
        &-item {
            display: flex;
            position: relative;
            width: 400px;
            height: 150px;
            &__svg {
                position: absolute;
                left: 112px;
                top: 46px;
            }
            &__svg.second {
                left: 104px;
            }
            &__desc {
                position: absolute;
                right: 113px;
                top: 33px;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 800;
                color: $text-color;
            }
            &__desc.second {
                right: 99px;
                top: 34px;
            }
            &__desc.third {
                right: 90px;
                top: 33px;            
            }
            &__desc.fourth {
                right: 118px;
                top: 34px;            
            }
        }
        &-item.first {
            background-color: #80d8ff;
        }
        &-item.second {
            background-color: #82b1ff;
        }
        &-item.third {
            background-color: #b388ff;
        }
        &-item.fourth {
            background-color: #ea80fc;
        }
    }
}
.block-service {
    margin-top: 92px;
    margin-bottom: 94px;
    &__title {
        text-align: center;
        margin-left: 14px;
    }
    &__desc {
        text-align: center;
        width: 37%;
        margin-left: 504px;;
        color: $gray-color;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.6;
    }
    &-tabs {
        display: block;
        font-family: 'Raleway', sans-serif;
        width: 831px;
        margin-left: 414px;
        margin-top: 50px;
        &__img {
            margin-left: 9px;
            margin-top: 1px;
            width: 250px;
            height: 156px;
        }
        &__tab {
            display: flex;
            position: relative;
            padding: 5px 10px;
            cursor: pointer;
            z-index:5;
            margin-top: 29px;
            span {
                color: $blue-color;
                margin-top: 9px;
            }
            p {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 700;
                color: $blue-color;
                margin-left: 18px;
                
            }
            &-content {
                display: none;
                &-active {
                    display: flex;
                }
                &__desc {
                    width: 57%;
                    margin-left: 25px;
                    line-height: 1.6;
                    margin-top: 2px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: #061e37;
                }
            }
        }
    }
}

.material-icons.margin {
    position: absolute;
    right: 66px;
    top: 3px;
}

.block-service-tabs__tab.first {
    margin-left: -1px;
}
.block-service-tabs__tab.second {
    margin-left: -1px;
    margin-top: 15px;
}
.block-service-tabs__tab.third {
    margin-left: -1px;
    margin-top: 14px;
}
.block-service-tabs__tab.fourth {
    margin-left: -1px;
    margin-top: 14px;
}

.block-feedback {
    display: flex;
    margin-bottom: 105px;
    position: relative;
    &-text {
        display: block;
        margin-top: 126px;
        margin-left: 76px;
        position: relative;
        width: 34%;
        &__title {
            color: $text-color;
        }
        &__desc {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 15px;
            color: $text-color;
            margin-left: 2px;
            margin-top: 16px;
            line-height: 1.8;
        }
        &__btn {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            color: $text-color;
            background-color: $blue-color;
            padding: 18px 22px;
            position: absolute;
            top: 242px;
            left: 3px;
            border-radius: 6px;
        }
    }
    &-slider {
        display: block;
        width: 61%;
        position: absolute;
        right: -138px;
        top: 87px;
        &-item {
            display: flex;
            margin-bottom: 69px;
            &__img {
                display: block;
                width: 76px;
                height: 76px;
                margin-top: 48px;
                margin-left: -2px;
            }
            &-text {
                display: block;
                width: 650px;
                height: 160px;
                background-color: $text-color;
                margin-left: 42px;
                &__title {
                    font-family: 'Raleway', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: $blue-color;
                    margin-left: 30px;
                    margin-top: 31px;
                }
                &__desc {
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    font-style: italic;
                    color: #061e37;
                    margin-left: 30px;
                    margin-top: 10px;
                    line-height: 1.7;
                    width: 87%;
                    letter-spacing: 0.25px;
                }
            }
        }
    }
}

.slick-prev {
    background-image: url(/img/up.png);
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    left: 431px;
    top: -45px; 
}

.slick-next {
    background-image: url(/img/down.png);
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    left: 431px;
    bottom: 16px; 
} 

.block-team {
    display: block;
    margin-top: 196px;
    margin-bottom: 613px;
    &-text {
        display: block;
        text-align: center;
        margin-left: 15px;
        position: relative;
        &__desc{
            width: 38%;
            position: absolute;
            right: 485px;
            top: 52px;
            line-height: 1.6;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: $gray-color;
        }
    }
    &-ava {
        display: block;
        position: relative;
        margin-bottom: 600px;
        &__img {
            position: absolute;
            margin-bottom: 150px;
        }
        &__img.first {
            left: 576px;
            top: 186px;
            opacity: 0.2;
            &:hover {
                opacity: 1;
                transition: 0.5s;
            }
        }
        &__img.second {
            left: 725px;
            top: 156px;
            z-index: -1;
        }
        &__img.third {
            left: 935px;
            top: 186px;
            opacity: 0.2;
            &:hover {
                opacity: 1;
                transition: 0.5s;
            }
        }
        &__img.effect {
            left: 699px;
            top: 128px;
        }
        &__title {
            position: absolute;
            left: 745px;
            top: 375px;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: $blue-color;
        }
        &__desc {
            position: absolute;
            width: 41%;
            text-align: center;
            right: 459px;
            top: 395px;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.69;
            color: $gray-color;
        }
        &-list {
            display: flex;
            position: absolute;
            top: 510px;
            left: 697px;
            list-style-type: none;
            &__link {
                cursor: pointer;
            }
            &__item {
                margin-right: 31px;
            }
            &__item.first {
                margin-left: 2px;
            }
            &__item.second {
                margin-top: -2px;
            }
            &__item.third {
                margin-top: -2px;
                margin-left: -8px;
            }
            &__item.fourth {
                margin-left: -3px;
            }
        }
    }
}
.block-contact {
    display: block;
    text-align: center;
    margin-left: 15px;
    &__desc {
        width: 38%;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        line-height: 1.69;
        color: #061e37;
        margin-left: 485px;
        margin-top: 13px;
    }
    &-input {
        margin-top: 43px;
        margin-left: 408px;
        margin-bottom: 22px;
        position: relative;
        width: 50%;
        &__item {
            padding: 18px 92px 14px 20px;
            margin-right: 35px;
            margin-bottom: 20px;
            border-radius: 5px;
            outline: 0;
            border: 1px solid;
            border-color: $blue-color;
            font-family: 'Raleway', sans-serif;
            color: #061e37;
            &::placeholder {
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                font-weight: 500;
                color: $blue-color;
            }
            &-big {
                padding: 0px 19px 97px 16px;
                height: 48px;
                width: 561px;
                margin-left: -34px;
                border-radius: 5px;
                outline: 0;
                border: 1px solid;
                border-color: $blue-color;
                color: #061e37;
                &::placeholder {
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: $blue-color;
                }
            }
        }
        &__item-checkbox {
            position: absolute;
            left: 75px;
            bottom: -71px;
            font-family: 'Raleway', sans-serif;
            color: $blue-color;
            font-size: 15px;
            font-weight: 500;
        }
        &__btn {
            position: absolute;
            right: 107px;
            bottom: -72px;
            padding: 18px 45px 17px 45px;
            font-family: 'Raleway', sans-serif;
            color: $text-color;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            background-color: $green-color;
            border: 0;
            outline: 0;
            border-radius: 5px;
        }
    }
}

input[type="checkbox"] {
    display: none;
}
label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    &::before {
        content: " ";
        color: #ffffff;
        display: inline-block;
        margin-right: 15px;
        text-align: center;
        text-indent: 0px;
        width: 13px;
        height: 13px;
        background: #FFF;
        border: 1px solid $blue-color;
        border-image: initial;
        vertical-align: middle;
    }
}
input:checked + label:before {
    content: "✓";
}

.block-footer {
    display: flex;
    justify-content: space-around;
    background-color: #061e37;
    width: 100%;
    height: 300px;
        &__logo {
            background-image: url(/img/svg/Logo.svg);
            background-repeat: no-repeat;
            width: 180px;
            height: 30px;
            margin-top: 95px;
            margin-left: 13px;
        }
    &-container {
        width: 500px;
        height: 300px;
        position: relative;
        &-list {
            position: absolute;
            bottom: 109px;
            left: -309px;
            list-style-type: none;
            display: flex;
            &__item {
                margin-right: 44px;
            }
            &__item.second::before {
                content: url(/img/dot.png);
                position: absolute;
                left: 116px;
                top: -1px;
            }
            &__item.third::before {
                content: url(/img/dot.png);
                position: absolute;
                right: 129px;
                top: -1px;
            }
            &__link {
                text-decoration: none;
                font-size: 15px;
                font-family: 'Raleway', sans-serif;
                color: rgba(255, 255, 255, 0.502);    
            }
        }
        &-menu {
            margin-top: 103px;
            margin-left: 60px;
            &-list {
                display: flex;
                list-style-type: none;
                &__link {
                    text-decoration: none;
                    font-size: 15px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    color: $text-color; 
                }
                &__item {
                    margin-right: 50px;
                }
                &__item.first {
                    margin-right: 49px;
                }
                &__item.second {
                    margin-right: 48px;
                }
            }
        }
        &-social {
            position: relative;
            &-list {
                position: absolute;
                top: 57px;
                right: -16px;
                list-style-type: none;
                display: flex;
                &__item {
                        margin-right: 18px;
                }
            }
        }
    }
}