@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


$blue-color: #061e37;
$text-color: #ffffff;
$gray-color: #b0bec5;
$green-color: #1de9b6;
body {
    margin: 0;
    padding: 0;
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 45px;
        color: $blue-color;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    &__logo {
        background-image: url(../img/svg/Logo.svg);
        background-repeat: no-repeat;
        width: 180px;
        height: 30px;
        margin-left: 78px;
        margin-top: 51px;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        margin-right: 60px;
        margin-top: 53px;
        &__item {
            margin-right: 45px;
            color: $text-color
            
        } 
        &__link.active {
            color: $blue-color;
        }
        &__link {
            text-decoration: none;
            color: $text-color;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 15px;
            &:hover {
                color: $blue-color;
                transition: 0.5s;
            }
        } 
    }
    &__modal {
        margin-right: -347px;
        margin-top: 50px;
        padding: 5px 19px;
        background: 0;
        outline: 0;
        border: 1px solid;
        border-color: white;
        color: white;
        text-transform: lowercase;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }  
}

.page {
    &-main {
        position: relative;
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        &__svg {
            background-image: url(../img/svg/BG.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 1600px;
            height: 750px;
            z-index: -1;
        }
    }
    &-green {
        position: relative;
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        &__svg {
            background-image: url(../img/svg/bg_2.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 1600px;
            height: 564px;
            z-index: -1;
        }
    }
}



.block-video {
    display: flex;
    justify-content: space-between;
    margin-top: 159px;
    margin-bottom: 278px;
    &-text {
        flex-basis: 37%;
        margin-left: 75px;
        &__title {
            text-transform: uppercase;
            color: $text-color;
            font-size: 55px;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            letter-spacing: 0.7px;
        }
        &__desc {
            color: $text-color;
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            line-height: 2;
            margin-top: 12px;
            margin-left: 1px;
        }
    }
}
.block-easy {
    &-text {
        margin-left: 527px;
        width: 34%;
        align-items: center;
        margin-bottom: 50px;
        &__title {
            width: 70%;
            text-align: center;
            margin-left: 81px;
            span {
                font-size: 25px;
                color: $gray-color;
            }
        }
        &__desc {
            text-align: center;
            color: $gray-color;
            font-size: 15px;
            font-family: 'Raleway', sans-serif;
            line-height: 1.6;
            margin-left: -7px;
            margin-top: 21px;
        }
    }
    &-icons {
        display: flex;
        justify-content: space-evenly;
        &-items {
            &__svg {
                margin-left: 218px;
                margin-top: 28px;
                margin-bottom: 37px;    
            }
            &__svg.second {
                margin-left: 253px;
                margin-top: 22px;
            }
            &__svg.third {
                margin-left: 267px;
            }
            &__title {
                font-size: 20px;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                text-align: center;
                margin-left: -12px;
                margin-top: 1px;            
            }
            &__title.second {
                margin-left: 37px;
                margin-top: -3px;
            }
            &__title.third {
                margin-left: 63px;
                margin-top: 2px;
            }
            &__desc {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                color: $gray-color;
                width: 67%;
                margin-left: 77px;
                margin-top: 12px;
                line-height: 1.4;
            }
            &__desc.second {
                margin-left: 105px;
                margin-bottom: 94px;
            }
            &__desc.third {
                margin-left: 115px;
            }
            &__btn {
                text-decoration: none;
                background-color: $green-color;
                color: $text-color;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 208px;
                padding: 18px 22px;
                border-radius: 5px;
            }
        }
    }
    &-colors {
        display: flex;
        justify-content: space-around;
        margin-top: 117px;
        &-item {
            display: flex;
            position: relative;
            width: 400px;
            height: 150px;
            &__svg {
                position: absolute;
                left: 112px;
                top: 46px;
            }
            &__svg.second {
                left: 104px;
            }
            &__desc {
                position: absolute;
                right: 113px;
                top: 33px;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 800;
                color: $text-color;
            }
            &__desc.second {
                right: 99px;
                top: 34px;
            }
            &__desc.third {
                right: 90px;
                top: 33px;            
            }
            &__desc.fourth {
                right: 118px;
                top: 34px;            
            }
        }
        &-item.first {
            background-color: #80d8ff;
        }
        &-item.second {
            background-color: #82b1ff;
        }
        &-item.third {
            background-color: #b388ff;
        }
        &-item.fourth {
            background-color: #ea80fc;
        }
    }
}
.block-service {
    margin-top: 92px;
    margin-bottom: 94px;
    &__title {
        text-align: center;
        margin-left: 14px;
    }
    &__desc {
        text-align: center;
        width: 37%;
        margin-left: 504px;;
        color: $gray-color;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.6;
    }
    &-tabs {
        display: block;
        font-family: 'Raleway', sans-serif;
        width: 831px;
        margin-left: 414px;
        margin-top: 50px;
        &__img {
            margin-left: 9px;
            margin-top: 1px;
            width: 250px;
            height: 156px;
        }
        &__tab {
            display: flex;
            position: relative;
            padding: 5px 10px;
            cursor: pointer;
            z-index:5;
            margin-top: 29px;
            span {
                color: $blue-color;
                margin-top: 9px;
            }
            p {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 700;
                color: $blue-color;
                margin-left: 18px;
                
            }
            &-content {
                display: none;
                &-active {
                    display: flex;
                }
                &__desc {
                    width: 57%;
                    margin-left: 25px;
                    line-height: 1.6;
                    margin-top: 2px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: #061e37;
                }
            }
        }
    }
}

.material-icons.margin {
    position: absolute;
    right: 66px;
    top: 3px;
}

.block-service-tabs__tab.first {
    margin-left: -1px;
}
.block-service-tabs__tab.second {
    margin-left: -1px;
    margin-top: 15px;
}
.block-service-tabs__tab.third {
    margin-left: -1px;
    margin-top: 14px;
}
.block-service-tabs__tab.fourth {
    margin-left: -1px;
    margin-top: 14px;
}

.block-feedback {
    display: flex;
    margin-bottom: 253px;
    position: relative;
    &-text {
        display: block;
        margin-top: 126px;
        margin-left: 76px;
        position: relative;
        width: 34%;
        &__title {
            color: $text-color;
        }
        &__desc {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 15px;
            color: $text-color;
            margin-left: 2px;
            margin-top: 16px;
            line-height: 1.8;
        }
        &__btn {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            color: $text-color;
            background-color: $blue-color;
            padding: 18px 22px;
            position: absolute;
            top: 242px;
            left: 3px;
            border-radius: 6px;
        }
    }
    &-slider {
        display: block;
        width: 61%;
        position: absolute;
        right: -138px;
        top: 87px;
        &-item {
            display: flex;
            margin-bottom: 69px;
            &__img {
                display: block;
                width: 76px;
                height: 76px;
                margin-top: 48px;
                margin-left: -2px;
            }
            &-text {
                display: block;
                width: 650px;
                height: 160px;
                background-color: $text-color;
                margin-left: 42px;
                &__title {
                    font-family: 'Raleway', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: $blue-color;
                    margin-left: 30px;
                    margin-top: 31px;
                }
                &__desc {
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    font-style: italic;
                    color: #061e37;
                    margin-left: 30px;
                    margin-top: 10px;
                    line-height: 1.7;
                    width: 87%;
                    letter-spacing: 0.25px;
                }
            }
        }
    }
}

.slick-prev {
    background-image: url(../img/up.png);
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    left: 431px;
    top: -45px;
}

.slick-next {
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    left: 431px;
    bottom: 16px;
}